alcohol.csv
Auto.csv
food-price1.csv
food-price2.csv
food-price3.csv
needed_packages.txt
chicago.csv
Covid19.csv
Covid19_DE.csv
Covid19_EU.csv
crosstab.csv
daten.csv
describe.csv
distributions.csv
GageRnR.csv
herstellung.csv
merge_sample1.csv
merge_sample2.csv
merge_sample3.csv
merge_sample4.csv
myhtml.html
mystyle.css
pareto.csv
production.csv
weather_log.csv
datei_umwandler.py
